__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.env
.venv
.env.local
.git
.gitignore
*.md
docs/
.vscode
.idea
*.log
logs/
ssl/
*.tar.gz
*.zip

